body {
    background-color: rgb(255, 94, 99);
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

#state {
    font-size: 3em;
    padding-top: 5%;
    text-align: center;
}

#timer {
    font-size: 4em;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hide {
    display: none;
}

button {
    font-size: 35px;
    border: none;
    background-color: Transparent;
    cursor: pointer;
}

#buttonLocalStorage {
    font-size: 25px;
}

#form {
    font-size: 35px;
}

input {
    width: 4%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1{
    text-align: center;
    font-size: 3em;
}

footer{
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
    background-color: rgb(56, 56, 56);
}