body {
    background-color: rgb(255, 94, 99);
}

* {
    font-family: 'Poppins', sans-serif;
}

#state {
    font-size: 3em;
    padding-top: 5%;
    text-align: center;
}

#timer {
    font-size: 4em;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hide {
    display: none;
}

button {
    font-size: 35px;
    border: none;
    background-color: Transparent;
}